{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BattleShip</title>
    <link rel="stylesheet" href="{% static 'room.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:600" rel="stylesheet">
</head>
<body>
    <div class="username">{{ user }}</div>
    <div id="player-info">
        <h1 id="room-name"></h1>
        <div id="players"></div>
        <div class="vertical-flex-container" id='start-ready-container'>
            <input type='button' class='buttons' id='start-button' value='START' />
            <input type='button' class='buttons' id='ready-button' value='READY' />
        </div>
        <div id="mywarzone"></div>
        <div id="select-ship-container" class="vertical-flex-container">
            <button id="sel1" class='buttons' onclick="setShip(1)">SHIP 1</button>
            <button id="sel2" class='buttons' onclick="setShip(2)">SHIP 2</button>
            <button id="sel3" class='buttons' onclick="setShip(3)">SHIP 3</button>
            <button id="sel4" class='buttons' onclick="setShip(4)">SHIP 4</button>
        </div>
    </div>
    <div id="useful"></div>
    <!--<textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>-->
</body>
<script src="{% static 'reconnect.js' %}"></script>
<script>
    var selectEnemy;
    var nowTurn;
    var myship1 = ("{{my_ship1}}"=="undefined") ? {{ my_ship1 }} : "{{my_ship1}}";
    var myship2 = ("{{my_ship2}}"=="undefined") ? {{ my_ship2 }} : "{{my_ship2}}";
    var myship3 = ("{{my_ship3}}"=="undefined") ? {{ my_ship3 }} : "{{my_ship3}}";
    var myship4 = ("{{my_ship4}}"=="undefined") ? {{ my_ship4 }} : "{{my_ship4}}";
    var selectShip;
    setShip(1);
    var gameStatus;
    var roomID = {{ room_id_json }};
    var gameSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/room/' + roomID + '/');
    // var gameSocket = new WebSocket(
    //     'ws://' + window.location.host +
    //     '/ws/room/' + roomID + '/');
    
    gameSocket.onopen = function(e) {
        console.log('SocketOpen');
        gameSocket.send(JSON.stringify({
            'command':'refresh',
        }));
    };

    gameSocket.onmessage = function(e) {
        console.log('oyoyoyon');
        var data = JSON.parse(e.data);
        gameStatus = data['state'];
        loadplayers(data);
        loadMyWarzone("me");
        switch(data['state']){
            case 'preparation':
                break;
            case 'started':
                hideStartButton(data);
                loadEnemyWarzone(data);
                nowTurn = data['players'][data['players_mark'].indexOf(true)]['name']
                break;
            case 'finished':
                loadEnemyWarzone(data);
                hideStartButton(data);
        }
    };

    gameSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        alert("You're Disconnected, Please Reload");
    };
    
    function markplayers(game_state, marked){
        if (marked){
            switch(game_state){
                case 'preparation':
                    return "(Ready)";
                case 'started':
                    return "'s Turn";
                case 'finished':
                    return " is THE WINNER";
        }}
        return "";
    }

    function loadplayers(data){
        var players = data['players'];
        var mark = data['players_mark'];
        document.getElementById('players').innerHTML = "<span class='bold'>Players in Room:</span></br>";
        for(i=0;i<players.length;i++){
            document.getElementById('players').innerHTML += (players[i]['name']+markplayers(data['state'],mark[i])+"<br/>");
            }
    }

    function hideStartButton(data){
        document.getElementById('start-button').style.display="none";
        document.getElementById('ready-button').style.display="none";
        document.getElementById('select-ship-container').style.display="none";
    }

    function setShip(id){
        selectShip = id;
        document.getElementById('sel1').style.backgroundColor='white';
        document.getElementById('sel2').style.backgroundColor='white';
        document.getElementById('sel3').style.backgroundColor='white';
        document.getElementById('sel4').style.backgroundColor='white';
        document.getElementById('sel'+id).style.backgroundColor='grey';
    }

    function renderColor(ship, name, color){
        shipid = [];
        switch(ship){
            case('myship1'):
                if(myship1==null){;return 0;}
                shiplen=5;
                num = myship1.substr(1)%100; 
                shipQ = myship1;
                break;
            case('myship2'):
                if(myship2==null){;return 0;}
                shiplen=4; 
                num = myship2.substr(1)%100; 
                shipQ = myship2;
                break;
            case('myship3'):
                if(myship3==null){;return 0;}
                shiplen=3; 
                num = myship3.substr(1)%100; 
                shipQ = myship3;
                break;
            case('myship4'):
                if(myship4==null){;return 0;}
                shiplen=2; 
                num = myship4.substr(1)%100;
                shipQ = myship4;
                break;
        }
        if (shipQ[0]=='v'){
            for(i=0; i<shiplen; i++){
                shipid.push(num+i*7);
            }
        } else if (shipQ[0]=='h') {
            for(i=0; i<shiplen; i++){
                shipid.push(num+i);
            }
        }
        if (shipid.length!=0){
            for(c=0;c<shipid.length;c++){
                document.getElementById(name+'-'+shipid[c]).style.backgroundColor=color;
            }
        }
    }

    function pick(id){
        var idnya = id.split('-');
        var num = idnya[idnya.length-1]%100;
        if (gameStatus == 'preparation'){
            switch(selectShip){
                case 1:
                    if(myship1==null && num<=21){
                        myship1 = "v"+num;
                    } else if (num==myship1.substr(1)){
                        if (myship1[0]=='v' && 0<num%7 && num%7<=3) {
                            myship1="h"+num;
                            }
                        else if (myship1[0]=='h' && num<=21) {
                            myship1="v"+num;
                        }
                    } else if(myship1[0]=="v" && num<=21){
                        myship1 = "v"+num;
                    } else if(myship1[0]=='h' && 0<num%7 && num%7<=3) {
                        myship1 = "h"+num;
                    }
                    break;
                case 2:
                    if(myship2==null && num<=28){
                        myship2 = "v"+num;
                    } else if (num==myship2.substr(1)){
                        if (myship2[0]=='v' && 0<num%7 && num%7<=4) {
                            myship2="h"+num;
                            }
                        else if (myship2[0]=='h' && num<=28) {
                            myship2="v"+num;
                        }
                    } else if(myship2[0]=="v" && num<=28){
                        myship2 = "v"+num;
                    } else if(myship2[0]=='h' && 0<num%7 && num%7<=4) {
                        myship2 = "h"+num;
                    }
                    break;
                case 3:
                    if(myship3==null && num<=35){
                        myship3 = "v"+num;
                    } else if (num==myship3.substr(1)){
                        if (myship3[0]=='v' && 0<num%7 && num%7<=5) {
                            myship3="h"+num;
                            }
                        else if (myship3[0]=='h' && num<=35) {
                            myship3="v"+num;
                        }
                    } else if(myship3[0]=="v" && num<=35){
                        myship3 = "v"+num;
                    } else if(myship3[0]=='h' && 0<num%7 && num%7<=5) {
                        myship3 = "h"+num;
                    }
                    break;
                case 4:
                if(myship4==null && num<=42){
                        myship4 = "v"+num;
                    } else if (num==myship4.substr(1)){
                        if (myship4[0]=='v' && 0<num%7 && num%7<=6) {
                            myship4="h"+num;
                            }
                        else if (myship4[0]=='h' && num<=42) {
                            myship4="v"+num;
                        }
                    } else if(myship4[0]=="v" && num<=42){
                        myship4 = "v"+num;
                    } else if(myship4[0]=='h' && 0<num%7 && num%7<=6) {
                        myship4 = "h"+num;
                    }
                    break;
            }
            for(i=1; i<=49; i++){
                document.getElementById('me-'+i).style.backgroundColor='';
            }
            renderColor('myship1','me','red');
            renderColor('myship2','me','orange');
            renderColor('myship3','me','yellow');
            renderColor('myship4','me','green');
        }
    }

    
    function loadMyWarzone(owner){
        if (gameStatus == 'preparation'){
            var x="";
            for(i=1;i<=7;i++){
                x+="<tr>";
                for(j=1;j<=7;j++){
                    var iD = j+(i-1)*7;
                    x+="<td><input class='warzone-button' onclick=pick(id) id="+owner+"-"+iD+" type='button'/></td>";
                }
                x+="</tr>";
            }
            document.querySelector('#mywarzone').innerHTML = "<table class='warzone-table'>"+x+"</table>";
        } else if(gameStatus == undefined){
            document.querySelector('#mywarzone').innerHTML = "Loading Data....";
        } else {
            var x="";
            for(i=1;i<=7;i++){
                x+="<tr>";
                for(j=1;j<=7;j++){
                    var iD = j+(i-1)*7;
                    x+="<td><input class='warzone-button' id="+owner+"-"+iD+" type='button'/></td>";
                }
                x+="</tr>";
            }
            document.querySelector('#mywarzone').innerHTML = "<table class='warzone-table'>"+x+"</table>";
        }
        renderColor('myship1',owner,'red');
        renderColor('myship2',owner,'orange');
        renderColor('myship3',owner,'yellow');
        renderColor('myship4',owner,'green');
    }

    function loadEnemyWarzone(data){
        players = data['players'];
        document.getElementById('useful').innerHTML="";
        var first = true;
        var x="";
        var y="";
        for (p=0; p<players.length; p++){
            if(players[p]['name']!="{{request.user}}"){
                if (first){var initial = players[p]['name']}
                x+="<div id='"+players[p]['name']+"' class='enemy'><p>"+players[p]['name']+"</p><table class='warzone-table'>";
                first = false;
                for(i=0; i<7; i++){
                    x+="<tr>";
                    for(j=1; j<=7; j++){
                        now_num = j+i*7
                        x+="<td><input class='warzone-button' onclick=attack(id) id="+players[p]['name']+"-"+now_num+" type='button'/></td>";
                    }
                    x+="</tr>";
                }
                x+="</table></div>";
                y+="<input onclick=appear(value) class='buttons plhide' id='"+players[p]['name']+"-button' type='button' value="+players[p]['name']+" />"
            }
        }
        document.getElementById('useful').innerHTML = "<div class='pickplayer'>"+y+"</div>"+x;
        colorizeEnemy(data);
        if(selectEnemy==undefined){appear(initial)}
        else{appear(selectEnemy)}
    }

    function colorizeEnemy(data){
        players = data['players']
        for (p=0; p<players.length; p++){
            if(players[p]['name']!="{{request.user}}"){
                for(i=0; i<7; i++){
                    for(j=1; j<=7; j++){
                        now_num = j+i*7
                        if(players[p]['shooted'].find((e)=>e==now_num)!=undefined){
                            document.getElementById(players[p]['name']+'-'+now_num).disabled = true;
                            document.getElementById(players[p]['name']+'-'+now_num).style.backgroundColor='rgb(59, 59, 255)';
                            if((players[p]['sh1_shooted'].find((e)=>e==now_num)!=undefined)||
                                (players[p]['sh2_shooted'].find((e)=>e==now_num)!=undefined)||
                                (players[p]['sh3_shooted'].find((e)=>e==now_num)!=undefined)||
                                (players[p]['sh4_shooted'].find((e)=>e==now_num)!=undefined)){
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundImage='radial-gradient(red,rgb(112, 160, 228))';}
                            if(players[p]['sh1_shooted'].length==5 && players[p]['sh1_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundImage='';
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundColor='red';}
                            if(players[p]['sh2_shooted'].length==4 && players[p]['sh2_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundImage='';
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundColor='orange';}
                            if(players[p]['sh3_shooted'].length==3 && players[p]['sh3_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundImage='';
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundColor='yellow';}
                            if(players[p]['sh4_shooted'].length==2 && players[p]['sh4_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundImage='';
                                document.getElementById(players[p]['name']+'-'+now_num).style.backgroundColor='green';}
                        }
                    }
                }
            } else {
                for(i=0; i<7; i++){
                    for(j=1; j<=7; j++){
                        now_num = j+i*7
                        if(players[p]['shooted'].find((e)=>e==now_num)!=undefined){
                            document.getElementById('me-'+now_num).style.backgroundColor='rgb(100, 100, 100)';
                            if(players[p]['sh1_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById('me-'+now_num).style.backgroundColor='rgb(200, 108, 108)';}
                            if(players[p]['sh2_shooted'].find((e)=>e==now_num)!=undefined){
                            document.getElementById('me-'+now_num).style.backgroundColor='rgb(194, 168, 114)';}
                            if(players[p]['sh3_shooted'].find((e)=>e==now_num)!=undefined){
                                document.getElementById('me-'+now_num).style.backgroundColor='rgb(181, 187, 131)';}
                            if(players[p]['sh4_shooted'].find((e)=>e==now_num)!=undefined){
                            document.getElementById('me-'+now_num).style.backgroundColor='rgb(116, 177, 122)';}    
                        }
                    }
                }
            }
        }
    }

    function convertShipFormat(ship, num){
        if (ship[0]=="v"){
            var x = "v-"+ship.substr(1);
            for(i = 1; i<=num-1; i++){
                x+= "-"+((ship.substr(1)%100)+7*i);
            }
        } else{
            var x = "h-"+ship.substr(1);
            for(i = 1; i<=num-1; i++){
                x+= "-"+((ship.substr(1)%100)+1*i);
            }
        }
        return x;
    }

    function appear(val){
        selectEnemy = val;
        var queries = document.querySelectorAll('.enemy');
        for(i=0;i<queries.length;i++){
            queries[i].className = 'enemy hide';
        }
        var buttonqueries = document.querySelectorAll('.plhide');
        for(i=0;i<buttonqueries.length;i++){
            buttonqueries[i].style.backgroundColor = 'white';
        }
        document.getElementById(val).className = 'enemy';
        document.getElementById(val+'-button').style.backgroundColor = 'grey';
    }

    function attack(id){
        if (nowTurn == "{{request.user}}"){
        gameSocket.send(JSON.stringify({
            'command': 'attack',
            'attacked_player': id.split('-')[0],
            'zone_id': id.split('-')[1],
            'room': roomID,
        }))} else {
            console.log('not your turn yet')
        }
    }

    document.querySelector('#room-name').innerHTML = "Room : "+roomID;

    document.querySelector('#start-button').onclick = function(e) {
        gameSocket.send(JSON.stringify({
            'command': 'start',
        }))
    };
    
    document.querySelector('#ready-button').onclick = function(e) {
        if ((myship1!=null)&&(myship2!=null)&&(myship3!=null)&&(myship4!==null)){
            gameSocket.send(JSON.stringify({
                'command': 'ready',
                'user': '{{request.user}}',
                'ship1': convertShipFormat(myship1, 5),
                'ship2': convertShipFormat(myship2, 4),
                'ship3': convertShipFormat(myship3, 3),
                'ship4': convertShipFormat(myship4, 2),
            }))
        } else {
            alert('diisi dulu');
        }
    };
</script>
</html>