{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Login Battleship</title>
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <form action="{% url 'playerAuth:login' %}" method="POST" class="forms">
            {% csrf_token %}
            <div class="form-input"><p>Username</p>{{ form.username }}</div>
            <div class="form-input"><p>Password</p>{{ form.password }}</div>
            <p class='form-input'><a href="{% url 'playerAuth:signup' %}">Don't have an Account? SignUp Here</a></p>
            <button type="submit" class="formbutton">Login</button>
        </form>
    </div>
</body>
</html>