<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'playerAuth:login' %}" method="POST" class="test mid" style="color:white">
        {% csrf_token %}
        <div class="unknown"><p>Username</p>{{ form.username }}</div>
        <div class="unknown"><p>Password</p>{{ form.password }}</div>
        <button type="submit" class="formbutton">Login</button>
    </form>
</body>
</html>