{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Signup Battleship</title>
</head>
<body>
    <div class="form-container">
        <h2>Sign Up</h2>
        <form action="{% url 'playerAuth:signup' %}" method="POST" class="forms">
            {% csrf_token %}
            <div class="form-input"><p>Username</p>{{ form.username }}</div>
            <div class="form-input"><p>Password</p>{{ form.password1 }}</div>
            <div class="form-input"><p>Confirm Password</p>{{ form.password2 }}</div>
            <button type="submit" class="formbutton">SIGN UP</button>
        </form>
    </div>
</body>
</html>